@model HomeViewModel
@using SoftballStats.ViewModels

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softball Stats</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
            <button class="hamburger" id="hamburger">&#9776;</button>
        </div>
        <ul class="sidebar-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="content">       
        
        <h1>Players</h1>
        <a asp-controller="Player" asp-action="Add" class="btn btn-primary">Create</a>

        <div class="player-grid">
            @foreach (var item in Model.Players)
            {
                <div class="player-item">
                    <!-- check for profile pic-->
                    @if (item.Image == null || item.Image ==  "")
                    {
                        <img class="player-image" src="~/Images/altProfilePic.jpg" />
                    }
                    else
                    {
                        <img class="player-image" src="@item.Image" alt="Card Image Cap" />

                    }
                    <div class="player-info">
                        <p class="player-name">@item.FirstName @item.LastName</p>
                        @if (item.Team != null)
                        {
                            <p class="team-name">@item.Team.TeamName</p>
                        }
                        <div class="button-group">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Player" asp-action="Edit" asp-route-id="@item.PlayerID"
                                    class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-controller="Player" asp-action="Delete" asp-route-id="@item.PlayerID"
                                    class="btn btn-sm btn-outline-secondary">Delete</a>
                            }
                        </div>
                    </div>
                </div>                        
            }@*End foreach*@
        </div>
    </div>

    <script>
        const hamburger = document.getElementById('hamburger');
        const sidebar = document.querySelector('.sidebar');
        hamburger.addEventListener('click', () => {
            sidebar.classList.toggle('active');
        });
    </script>
</body>

</html>
